<md-dialog aria-label="Add New">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add playlist</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding="">
                    <div layout="row" flex>
                        <md-input-container flex>
                            <label>Title</label>
                            <input ng-model="entry.title" ng-keyup="$event.keyCode == 13 ? save() : null"/>
                        </md-input-container>




            </div>
            <md-button ng-click="save()" class="md-raised md-accent" >
                <i class="material-icons" style="color:white">add</i>
            </md-button>

        </md-dialog-content>

</md-dialog>