<div ng-controller="homeCtrl" flex>
    <div flex layout="column" layout-fill="" layout-align="center center">
        <div layout="row" layout-xs="column">
            <md-button class="md-raised md-warn" md-whiteframe="10" ng-click="goToPage('index')">Database</md-button>
        </div>
        <hr>
        <div layout="row" layout-xs="column">
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('search')">Search</md-button>
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('local')">Convert</md-button>
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('move')">Move</md-button>
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('csv')">CSV</md-button>
        </div>
        <hr>
        <div layout="row" layout-xs="column">
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('songs')">Songs</md-button>
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('effects')">Effects</md-button>
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('playlists')">Playlists</md-button>
            <md-button class="md-raised" md-whiteframe="10" ng-click="goToPage('movies')">Movies</md-button>

        </div>

    </div>
</div>